<% include include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-check-square"></span> <%= title%></h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% for ( var i = 0 ; i < gamelist.length ; i++){ %>
            <p><a href="#"><%= gamelist[i].title%></a></p>
            <% } %>
            
            <!--<form id="gamesearch" method="get" action="/game">
            
                <label>Game Name</label>
                <input type="text" name="gamename">
                <input type="submit" value="Submit">
            </form>-->
            
        </div>
    </div>
</div>
<% include include/footer.ejs %>
