<% include include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-check-square"></span> <%= title%></h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
            
            <form id="productForm">
            
              <label>Express shipping</label>
              <input type="text" name="user[email]">
            </form>
            
        </div>
    </div>
</div>
<% include include/footer.ejs %>
