<% include include/header.ejs %>

<div class="page-header text-center">
    <h1><span class="fa fa-search"></span> <%= title%></h1>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <% if (gamelist.length != 0) { %>
                <h4>Total: <%= gamelist.length%> results found.</h4>
                <table border="1">
                    <tr>
                        <th>Game Platform</th>
                        <th>Game Name</th>
                    </tr>
                    <% for ( var i = 0 ; i < gamelist.length ; i++){ %>
                    <tr>
                        <td><%= gamelist[i].platform%></td>
                        <td><a href="#"><%= gamelist[i].title%></a></td>
                    </tr>
                    <% } %>
                </table>
            <% } else {%>
                <h4>Sorry! No results found.</h4>
            <% }%>
            
        </div>
    </div>
</div>
<% include include/footer.ejs %>
