<% include include/header.ejs %>
    
    <div class="container">
        <h1><span class="fa fa-sign-in"></span>&nbsp;<%= title %></h1>

        <%if (message!='') { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>

        <form action="/signup" method="post">
            <div class="form-group">
                <label>Username</label>
                <input id="signup-name" type="text" class="form-control" name="username" required>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input id="signup-password" type="password" class="form-control" name="password" required>
            </div>
            
            <div class="form-group">
                <label>Re-enter Password</label>
                <input type="password" class="form-control" name="repassword" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input id="signup-email" type="email" class="form-control" name="email" required>
            </div>

            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="window.location='/signup'"></div>
            
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>

        <hr>
        
        <!--<img id="facebook-user-icon" src="" />-->
        
        <p>Have an account? Click <a href="/login" id="specialPage">here</a> to login</p>
        <p>Go back to <a href="/" id="specialPage">Home</a></p>
        
        
    </div>
<% include include/footer.ejs %>