<h1><%= title %></h1>
<form name="addform" action="add" method="post" accept-charset="utf-8" >
        <h1>Transaction - Add</h1>
        <div>
            <label>id：</label>
            <input type="number" name="id" placeholder="id" />
        </div>
        <div>
            <label>gamename：</label>
            <input type="text" name="gamename" placeholder="gamename">
        </div>
        <div>
            <label>price：</label>
            <input type="number" name="price" placeholder="price">
        </div>
        <div>
            <input type='submit' value='Submit'>
            <input type='reset' value='Reset'>
            <input type='button' value='Back' onclick="javascript: location.href='/'">
        </div>
    </form>